<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IPO_JDE_conn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="IPO_JDE_conn.Properties.Settings.RAPORTYConnectionString" connectionString="Data Source=DATABASE2;Initial Catalog=RAPORTY;User ID=valvex;Password=valvex123;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
        <add name="IPO_JDE_conn.Properties.Settings.PS_PRODConnectionString" connectionString="Data Source=db2008;Initial Catalog=PS_PROD;Persist Security Info=True;User ID=valvex;Password=valvex123" providerName="System.Data.SqlClient" />
        <add name="IPO_JDE_conn.Properties.Settings.transConnectionString" connectionString="Data Source=database2;Initial Catalog=trans;Persist Security Info=True;User ID=valvex;Password=valvex123" providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup><system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <IPO_JDE_conn.Properties.Settings>
            <setting name="IPO_JDE_conn_WebReference_Service1" serializeAs="String">
                <value>http://192.168.1.20:10001/Service1.asmx</value>
            </setting>
            <setting name="IPO_JDE_conn_trans_trans" serializeAs="String">
                <value>http://192.168.1.20:10001/trans.asmx</value>
            </setting>
            <setting name="IPO_JDE_conn_WebReference2_Service2" serializeAs="String">
                <value>http://192.168.1.20:10001/Service2.asmx</value>
            </setting>
            <setting name="IPO_JDE_conn_WEB_IPO_IPO" serializeAs="String">
                <value>http://192.168.1.129/IPO.asmx</value>
            </setting>
            <setting name="IPO_JDE_conn_IPO_PRACE_ZEWN_Prace_zewn_API" serializeAs="String">
                <value>http://192.168.1.20:10001/Prace_zewn_API.asmx</value>
            </setting>
        </IPO_JDE_conn.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.8.0" newVersion="1.8.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
